.container-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.buttons {
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.button-follow {
    border-radius: 5px;
    padding: 4px 33px;
    border: 0.5px solid black;
    background-color: rgba(62, 87, 247, 0.795);
    color: white;
    font-weight: bold;
}
.button-message {
    border-radius: 5px;
    padding: 4px 33px;
    border: 0.5px solid black;
    font-weight: bold;
}
.button-contact {
    border-radius: 5px;
    padding: 4px 33px;
    border: 0.5px solid black;
    font-weight: bold;
}
.button-more {
    border-radius: 5px;
    padding: 4px 33px;
    border: 0.5px solid black;
    font-weight: bold;
}